{{> head}}
{{> navbar }}
    <div class="row">
        <div>
            <h1>Phyton</h1>
            <p>
                Python is a programming language that lets you work quickly and integrate systems more effectively.
            </p>
        </div>
        <div>
            <img src="assets/img/Python.jpg" class="img-thumbnail">
        </div>
    </div>
{{> footer}}